span{
	line-height: 50px;
	width: 50px;
	margin: 3px 3px;
	background-color: green;
	display: inline-block;
	text-align: center;
	font-size: 40px;
}
div{
	display: flex;
	margin: -9px 3px;
	justify-content: center;
    font-size: 40px;
}

